/* Addstudent.css */
.updated-logo img {
    max-width: 100%;
    height: auto;
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="radio"] {
    margin-bottom: 0px;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px;
    margin : 4px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.radio-group {
    display: flex;
    /* justify-content: space-between;  */
    margin-bottom: 15px;
}

.radio-group label {
    display: flex;
    align-items: center;
}

.radio-group input[type="radio"] {
    margin-right: 5px; /* Add margin-right to create space between radio buttons and labels */
}
.updated-logo {
    text-align: center;
    margin-top: 20px;
    color: green;
    font-size: 18px;
    font-weight: bold;
}

